<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python For Kids</title>
    <script src="/static/pyodide/pyodide.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/pyodide/v0.20.0/full/pyodide.js"></script> -->
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <link rel="stylesheet" href="/static/xterm/xterm.css">
    <script defer src="/static/pyscript/pyscript.js"></script>
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
    <link rel="stylesheet" href="/static/constrained-editor-plugin/dist/constrainedEditorPlugin.css">
    <style>
        @font-face {
            font-family: "Backstay";
            src: url(/static/BackstayRegular.ttf) format("truetype");
        }
        @font-face {
            font-family: "Cabinsketch";
            src: url(/static/CabinSketch-Bold.ttf) format("truetype");
        }
    </style>
    <script src="/static/constrained-editor-plugin/dist/constrainedEditorPlugin.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/tailwind.config.js"></script>
    <script src="/static/xterm/xterm.js"></script>
    <script src="/static/xterm/xterm-addon-fit.min.js"></script>
    <style>
        .sketch {
            border-top-left-radius: 255px 15px;
            border-top-right-radius: 15px 225px;
            border-bottom-right-radius: 225px 15px;
            border-bottom-left-radius: 15px 255px;
        }
    </style>
</head>

<body class="relative p-0 m-0 w-full">
    <div class="absolute bg-black/50 w-full h-full z-1000" style="display: none;" id="foreground"></div>
    <div class="w-full h-screen flex flex-col z-1">
        <div class="w-full h-[50%] flex flex-row">
            <div class="w-[80%] bg-transparent border-black border-4 sketch h-full p-4">
                <div class="w-full h-[20%] flex align-center justify-center font-cabin text-3xl" id="title">Problem 1/10</div>
                <div class="w-full h-[80%]" id="question">
                    <div class="w-full h-[20%] font-cabin text-center text-2xl" id="content"></div>
                    <img class="w-full h-[80%] rounded" id="image" src="">
                </div>
            </div>
            <div class="w-[20%] bg-transparent border-black border-4 sketch p-4 flex flex-col">
                <div class="w-full h-[20%] flex align-center justify-center font-cabin text-3xl">Leader Board</div>
                <div class="w-full h-[80%] flex flex-col overflow-y-scroll" id="leaderboard">
                </div>
            </div>
        </div>
        <div class="w-full h-[45%] flex flex-row">
            <div class="w-[50%] bg-transparent border-black border-4 sketch h-full p-4">
                <div class="flex flex-row">
                    <button id="run-button" class="p-2 border-black border-2 sketch mb-2">Run Code</button>
                    <button onclick="prevQuestion()" class="p-2 border-black border-2 sketch mb-2 ml-2">Prev</button>
                    <button onclick="nextQuestion()" class="p-2 border-black border-2 sketch mb-2 ml-2">Next</button>
                </div>
                <div id="editor" class="w-full h-[80%]"></div>
            </div>
            <div class="w-[50%] bg-transparent border-black border-4 sketch p-4 overflow-x-scroll">
                <div class="flex flex-row justify-between">
                    <button id="submit-button" class="p-2 border-black border-2 sketch mb-2">Submit Code</button>
                    <button onclick="logout()" class="p-2 border-black border-2 sketch mb-2 ml-2">Logout</button>
                </div>
                <div id="output" class="w-full h-[80%] p-4 bg-black rounded"></div>
            </div>
        </div>
    </div>

    <script src="/static/monaco/loader.min.js"></script>

    <script>
        function locdau(obj) 
        {
            let str = obj.toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            //str= str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'| |\"|\&|\#|\[|\]|~|$|_/g,"-");  
            /* tìm và thay thế các kí tự đặc biệt trong chuỗi sang kí tự - */
            //str= str.replace(/-+-/g,"-"); //thay thế 2- thành 1-  
            str = str.replace(/^\-+|\-+$/g, "");
            //cắt bỏ ký tự - ở đầu và cuối chuỗi 
            return str
        }

        function getLeaderBoard() {
            fetch('/api/user/?page_size=50', {
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": session
                },
                method: "GET"
            })
            .then(res => {
                return res.json()
            })
            .then(res => {
                let str = ""
                for (let user of res["results"]) {
                    str += `
                    <div class="w-full flex flex-row mb-4">
                        <div class="w-[70%] p-1 text-left font-cabin text-xl">${locdau(user['name'])}</div>
                        <div class="w-[30%] p-1 text-right font-cabin text-xl">${user['total_points']}</div>
                    </div>`
                }
                document.getElementById("leaderboard").innerHTML = str
            })
        }

        function logout() {
            window.localStorage.setItem("session", "")
            window.location = "/login"
        }

        let session = window.localStorage.getItem("session")
        if (session) {
            fetch("/api/user/info/", {
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": session
                },
                method: "GET",
            })
            .then(res => {
                if (res.status != 200 && res.status != 201) {
                    window.location = "/login"
                }
                return res.json()
            })
            .then(async res => {
                window.localStorage.setItem("user_name", res['name'])
                window.localStorage.setItem("total_points", res['total_points'])
                await gotoQuestion("/api/question/?page_size=1")
                setInterval(getLeaderBoard, 5000)
            })
            .catch(e => {
                window.location = "/login"
            })
        } else {
            window.location = "/login"
        }

        function findLongestCommonSubstring(str1, str2) {
            let longestSubstring = "";

            for (let i = 0; i < str1.length; i++) {
                for (let j = 0; j < str2.length; j++) {
                    let substring = "";
                    let x = i;
                    let y = j;

                    while (x < str1.length && 
                        y < str2.length && 
                        str1[x] === str2[y]) {
                        substring += str1[x];
                        x++;
                        y++;
                    }

                    if (substring.length > longestSubstring.length) {
                        longestSubstring = substring;
                    }
                }
            }

            return longestSubstring;
        }

        function nextQuestion() {
            let next = window.localStorage.getItem("next")
            if (next !== "null") {
                gotoQuestion(next.replace("http", "https"))
            } else {
                gotoQuestion("/api/question/?page_size=1")
            }
        }

        function prevQuestion() {
            let prev = window.localStorage.getItem("prev")
            if (prev !== "null") {
                gotoQuestion(prev.replace("http", "https"))
            } else {
                gotoQuestion("/api/question/?page_size=1")
            }
        }

        function gotoQuestion(url) {
            // disable button next and previous
            document.getElementById("foreground").style.display = "initial"
            fetch(url, {
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": session
                },
                method: "GET"
            })
            .then(res => {
                return res.json()
            })
            .then(res => {
                console.log(res)
                document.getElementById("foreground").style.display = "none"
                window.localStorage.setItem("question_id", res["results"][0][["id"]])
                window.localStorage.setItem("answer", res["results"][0][["answer"]])
                window.localStorage.setItem("content", res["results"][0][["content"]])
                window.localStorage.setItem("image", res["results"][0][["image"]])
                window.localStorage.setItem("next", res['next'])
                window.localStorage.setItem("prev", res['previous'])
                window.localStorage.setItem("count", res['count'])
                document.getElementById("content").innerHTML = locdau(res["results"][0][["content"]])
                document.getElementById("image").src = res["results"][0][["image"]]
                document.term.write('\x1b[H\x1b[2J')
                document.term.write(
` __     ___  _____ ____ _____ 
 \\ \\   / / |/ /_ _/ ___|_   _|
  \\ \\ / /| ' / | |\\___ \\ | |  
   \\ V / | . \\ | | ___) || |  
    \\_/  |_|\\_\\___|____/ |_|`)
                let user = window.localStorage.getItem("user_name")
                let point = window.localStorage.getItem("total_points")
                document.getElementById("title").innerHTML = "Problem " + res["results"][0][["id"]] + "/" + res["count"] + " -- " + user + " " + point 
            })
        }

        document.point_engine = {
            addPoint: (string1, retry=3) => {
                document.getElementById("foreground").style.display = "initial"
                let code = document.editor.getValue()
                let string2 = window.localStorage.getItem("answer")
                let longestCommonSubstring = findLongestCommonSubstring(string1, string2);
                let length = longestCommonSubstring.length
                let id = parseInt(window.localStorage.getItem("question_id"))
                let point = Math.floor((20*length)/(string1.length + string2.length))
                fetch("/api/answer/add-point/", {
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": session
                    },
                    method: "POST",
                    body: JSON.stringify({"point": point, "question": id, "code": code})
                })
                .then(res => {
                    if (res.status != 200 || res.status != 201) {
                        if (retry > 0) {
                            addPoint(string1, retry -1)
                        } else {
                            //show animation
                            gotoQuestion(current_question_id)
                        }
                    }
                    return res.json()
                })
                .then(res => {
                    document.getElementById("foreground").style.display = "none"
                    //show animation
                })
                .catch((e) => {
                    document.getElementById("foreground").style.display = "none"
                })
            }
        }
    </script>

    <script>
        document.term = new Terminal({
            cursorBlink: true,
            convertEol: true
        });
        const fitAddon = new FitAddon.FitAddon();
        document.term.loadAddon(fitAddon);
        document.term.open(document.getElementById('output'));
        fitAddon.fit()
        document.term.write(
` __     ___  _____ ____ _____ 
 \\ \\   / / |/ /_ _/ ___|_   _|
  \\ \\ / /| ' / | |\\___ \\ | |  
   \\ V / | . \\ | | ___) || |  
    \\_/  |_|\\_\\___|____/ |_|`)
    </script>

    <script>
        // Proxy Monaco Editor workers using a data URL (adapted from: https://github.com/microsoft/monaco-editor/blob/main/docs/integrate-amd-cross.md)
        require.config({ paths: { "vs": "/static/monaco/min/vs/" } });

        window.MonacoEnvironment = {
            getWorkerUrl: function (workerId, label) {
                return `data:text/javascript;charset=utf-8,${encodeURIComponent(`
                    self.MonacoEnvironment = { baseUrl: "https://daovietanh99.github.io/PythonCompetition/js/monaco/min/" };
                    importScripts("https://daovietanh99.github.io/PythonCompetition/js/monaco/worker.min.js");`
                )}`;
            }
        };

        require(['vs/editor/editor.main'], function () {
            const container = document.getElementById('editor')
            const editorInstance = monaco.editor.create(container, {
                value: [
                    'def main():',
                    '  #add your code here',
                ].join('\n'),
                language: 'python'
            });
            const model = editorInstance.getModel();
            document.editor = editorInstance
            document.breaker = {
                getValue: () => `<br/>`
            }

            const editorElement = document.getElementById("editor");
            window.addEventListener("resize", () => editorInstance.layout({
                width: editorElement.offsetWidth,
                height: editorElement.offsetHeight
            }));

            // - Configuration for the Constrained Editor : Starts Here
            const constrainedInstance = constrainedEditor(monaco);
            constrainedInstance.initializeIn(editorInstance);
            constrainedInstance.addRestrictionsTo(model, [{
                range: [2, 3, 2, 22], // Range of Function definition
                allowMultiline: true,
                label: 'funcDefinition'
            }]);
            // - Configuration for the Constrained Editor : Ends Here
        });
    </script>

    <py-script>
from js import console
from pyodide import create_proxy
import traceback

def test(func):
    break_str = document.breaker.getValue()
    document.term.write('\x1b[H\x1b[2J')
    document.term.write(str(func()))

def check(func):
    result = str(func())
    document.point_engine.addPoint(result, 3)

def runPython(event):
    value = document.editor.getValue()
    break_str = document.breaker.getValue()
    try:
        exec(value + "\n" + "test(main)")
    except:
        document.term.write('\x1b[H\x1b[2J')
        document.term.write(traceback.format_exc())

def submitPython(event):
    value = document.editor.getValue()
    try:
        exec(value + "\n" + "check(main)")
    except:
        document.point_engine.addPoint("", 3)

run_function_proxy = create_proxy(runPython)
submit_function_proxy = create_proxy(submitPython)

document.getElementById("run-button").addEventListener("click", run_function_proxy)
document.getElementById("submit-button").addEventListener("click", submit_function_proxy)
    </py-script>

    <script type="py" terminal>print("hello world")</script>

</body>

</html>
